<h1>This is [% person.name | html %]'s page</h1>
<p>How about you go <a href="[% c.uri_for( c.controller('Person::Photos').action_for('display'), [ person.id ] ) %]">look at their photos</a> instead.</p>
